# ðŸ“Š Dataset Information

**Note:** The dataset for this project is **not included in this repository** to keep the repository lightweight.  

You can download the dataset from **Kaggle** using the link below:  

[Download the students_class10 Dataset](https://www.kaggle.com/datasets/ssssda/class10-students-performance)  

Please make sure to place the downloaded Excel file in the same directory as this notebook before running any code.

# Import Librarys

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import CSV file

In [2]:
df = pd.read_excel('students_class10_basic_dataset.xlsx')
df.head(5)

,RollNo,Name,Gender,DOB,Attendance_%,House,Q_Maths,Q_Science,Q_English,Q_History,...,F_History,F_Geography,F_Civics,Science_Project_20,English_Activity_20,ArtCraft_20,Sports_Points_30,Cultural_Points_20,Discipline_10,Volunteer_Hours
0,1,Aarav Sharma,Male,2003-12-27,84.2,Blue,69,70,74,87,...,83,85,56,13,16,12,11,15,10,11.2
1,2,Aditi Nair,Female,2003-02-05,84.7,Red,62,78,64,69,...,75,86,90,14,12,16,21,3,6,7.1
2,3,Bhavesh Patel,Male,2003-01-24,98.7,Green,55,58,75,92,...,93,88,80,10,17,12,23,3,6,11.7
3,4,Bhavna Kapoor,Female,2003-12-05,96.5,Yellow,100,74,69,71,...,91,79,86,11,10,11,21,7,8,7.7
4,5,Charan Reddy,Male,2003-04-27,79.4,Green,62,68,76,65,...,77,56,41,16,13,13,8,17,7,1.6

# Preprocessing

## Check Null Values

In [3]:
df.isnull().sum()

RollNo                 0
Name                   0
Gender                 0
DOB                    0
Attendance_%           0
House                  0
Q_Maths                0
Q_Science              0
Q_English              0
Q_History              0
Q_Geography            0
Q_Civics               0
H_Maths                0
H_Science              0
H_English              0
H_History              0
H_Geography            0
H_Civics               0
F_Maths                0
F_Science              0
F_English              0
F_History              0
F_Geography            0
F_Civics               0
Science_Project_20     0
English_Activity_20    0
ArtCraft_20            0
Sports_Points_30       0
Cultural_Points_20     0
Discipline_10          0
Volunteer_Hours        0
dtype: int64

## Check Shape

In [4]:
print('DataFrame shape:', df.shape)

DataFrame shape: (40, 31)

## Transforming DOB into Age

In [5]:
df['DOB'] = pd.to_datetime(df['DOB'])
df['Age'] = (pd.Timestamp("today") - df['DOB']).dt.days // 365

## Check Duplicates

In [6]:
df[df.duplicated()]

Empty DataFrame
Columns: [RollNo, Name, Gender, DOB, Attendance_%, House, Q_Maths, Q_Science, Q_English, Q_History, Q_Geography, Q_Civics, H_Maths, H_Science, H_English, H_History, H_Geography, H_Civics, F_Maths, F_Science, F_English, F_History, F_Geography, F_Civics, Science_Project_20, English_Activity_20, ArtCraft_20, Sports_Points_30, Cultural_Points_20, Discipline_10, Volunteer_Hours, Age]
Index: []

[0 rows x 32 columns]