# ðŸ“Š Dataset Information

**Note:** The dataset for this project is **not included in this repository** to keep the repository lightweight.  

You can download the dataset from **Kaggle** using the link below:  

[Download the GTA Vice City Dataset](https://www.kaggle.com/datasets/eshummalik/grand-data-auto-vicecity/data)  

Please make sure to place the downloaded CSV file in the same directory as this notebook before running any code.

# Importing

## Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Import CSV and Convert to DataFrame

In [2]:
df = pd.read_csv('GTA Vice_City.csv')

# PreProcessing

## Details of Dataset

### Frist five row

In [3]:
df.head()

,id,language,review,created,voted_up,votes_up,comment_count,steam_purchase,recieved_for_free,written_during_early_access,author_num_games_owned,author_num_reviews,author_playtime_forever,author_playtime_last_two_weeks,author_playtime_at_review,author_last_played
0,157337410,english,"Games good, But Rockstar Your a BILLION DOLLAR...",2024-02-01 16:00:22,True,0,0,True,False,False,0,9,9105,131,9105,2024-01-30 21:04:02
1,157337371,english,modders make it better and free everything,2024-02-01 15:59:57,True,0,0,True,True,False,0,1,2530,1728,2530,2024-02-01 16:01:41
2,157337210,english,great game,2024-02-01 15:57:48,True,0,0,False,False,False,0,1,281457,4523,281457,2024-02-01 00:48:38
3,157336468,english,best,2024-02-01 15:47:51,True,0,0,True,False,False,34,3,2842,431,2816,2024-02-01 15:50:12
4,157335380,english,sed,2024-02-01 15:32:26,True,0,0,True,False,False,11,2,2055,79,2021,2024-02-01 16:12:38

### last Five row

In [4]:
df.tail()

,id,language,review,created,voted_up,votes_up,comment_count,steam_purchase,recieved_for_free,written_during_early_access,author_num_games_owned,author_num_reviews,author_playtime_forever,author_playtime_last_two_weeks,author_playtime_at_review,author_last_played
52094,140767442,english,great game,2023-06-27 04:16:29,True,0,0,True,False,False,0,2,1711,0,1592,2023-06-27 06:15:48
52095,140766922,english,This game destroys lives and breaks families. ...,2023-06-27 04:01:43,False,0,0,True,False,False,0,2,994,0,699,2023-07-04 02:51:55
52096,140766772,english,this is such a fun you need to try it out the ...,2023-06-27 03:57:22,True,0,0,True,False,False,0,1,50761,0,38332,2024-01-13 16:38:30
52097,140766435,english,gg,2023-06-27 03:48:20,True,0,0,True,False,False,0,9,2575,0,1212,2023-07-15 21:46:04
52098,140766317,english,De los mejores juegos del mundo... Mas que nad...,2023-06-27 03:44:44,True,0,0,True,False,False,15,2,2858,351,2492,2024-02-01 07:17:01

### Shape of our dataset

In [5]:
df.shape

(52099, 16)

### List out all columns

In [6]:
df.columns

Index(['id', 'language', 'review', 'created', 'voted_up', 'votes_up',
       'comment_count', 'steam_purchase', 'recieved_for_free',
       'written_during_early_access', 'author_num_games_owned',
       'author_num_reviews', 'author_playtime_forever',
       'author_playtime_last_two_weeks', 'author_playtime_at_review',
       'author_last_played'],
      dtype='object')

### Datatype of each columns

In [7]:
df.dtypes

id                                 int64
language                          object
review                            object
created                           object
voted_up                            bool
votes_up                           int64
comment_count                      int64
steam_purchase                      bool
recieved_for_free                   bool
written_during_early_access         bool
author_num_games_owned             int64
author_num_reviews                 int64
author_playtime_forever            int64
author_playtime_last_two_weeks     int64
author_playtime_at_review          int64
author_last_played                object
dtype: object

### Information of all Columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52099 entries, 0 to 52098
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              52099 non-null  int64
 1   language                        52099 non-null  object
 2   review                          51801 non-null  object
 3   created                         52099 non-null  object
 4   voted_up                        52099 non-null  bool
 5   votes_up                        52099 non-null  int64
 6   comment_count                   52099 non-null  int64
 7   steam_purchase                  52099 non-null  bool
 8   recieved_for_free               52099 non-null  bool
 9   written_during_early_access     52099 non-null  bool
 10  author_num_games_owned          52099 non-null  int64
 11  author_num_reviews              52099 non-null  int64
 12  author_playtime_forever         52099 non-null  int64
 13  author_playtime_last_two_weeks  52099 non-null  int64
 14  author_playtime_at_review       52099 non-null  int64
 15  author_last_played              52099 non-null  object
dtypes: bool(4), int64(8), object(4)
memory usage: 5.0+ MB

### Check Null Value

In [9]:
df.isnull().sum()

id                                  0
language                            0
review                            298
created                             0
voted_up                            0
votes_up                            0
comment_count                       0
steam_purchase                      0
recieved_for_free                   0
written_during_early_access         0
author_num_games_owned              0
author_num_reviews                  0
author_playtime_forever             0
author_playtime_last_two_weeks      0
author_playtime_at_review           0
author_last_played                  0
dtype: int64

### Check Duplicate Value

In [10]:
df.duplicated().sum()

np.int64(0)

### summary of the dataset

In [11]:
df.describe()

,id,votes_up,comment_count,author_num_games_owned,author_num_reviews,author_playtime_forever,author_playtime_last_two_weeks,author_playtime_at_review
count,5.209900e+04,52099.000000,52099.000000,52099.000000,52099.000000,5.209900e+04,52099.000000,5.209900e+04
mean,1.489459e+08,0.584387,0.018522,20.017467,5.844738,1.118878e+04,342.430488,8.216967e+03
std,5.183634e+06,22.359856,0.352163,127.495124,12.600061,2.473005e+04,1027.536478,2.282778e+04
min,1.407663e+08,0.000000,0.000000,0.000000,1.000000,5.000000e+00,0.000000,5.000000e+00
25%,1.440101e+08,0.000000,0.000000,0.000000,1.000000,2.164000e+03,0.000000,7.545000e+02
50%,1.486648e+08,0.000000,0.000000,0.000000,2.000000,5.051000e+03,0.000000,2.423000e+03
75%,1.539681e+08,0.000000,0.000000,6.000000,6.000000,1.169250e+04,151.000000,7.405500e+03
max,1.573374e+08,3942.000000,46.000000,18126.000000,440.000000,1.470929e+06,19849.000000,1.275576e+06

# EDA

In [12]:
def show_fig():
    plt.tight_layout()
    plt.show()

plot_no = 1

## Univariate