# ðŸ“Š Dataset Information

**Note:** The dataset for this project is **not included in this repository** to keep the repository lightweight.  

You can download the dataset from **Kaggle** using the link below:  

[Download the combined global gender data Dataset](https://www.kaggle.com/datasets/hammadfarooq470/global-gender-equality-rankings-2023/data)  

Please make sure to place the downloaded CSV file in the same directory as this notebook before running any code.

# Importing

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Import CSV And convert to DataFrame

In [2]:
df = pd.read_csv('combined_global_gender_data_20251123.csv')

### Frist Five Row

In [3]:
df.head()

,Scraped_Date,Data_Year,Country,ISO3,Year,Gender Inequality Index (GII) (Gender Inequality Index)
0,2025-11-23,2023,Afghanistan,AFG,2023,0.66100
1,2025-11-23,2023,Africa,NaN,2023,0.53045
2,2025-11-23,2023,Albania,ALB,2023,0.10700
3,2025-11-23,2023,Algeria,DZA,2023,0.44300
4,2025-11-23,2023,Angola,AGO,2023,0.51500

### Last Five Row

In [4]:
df.tail()

,Scraped_Date,Data_Year,Country,ISO3,Year,Gender Inequality Index (GII) (Gender Inequality Index)
188,2025-11-23,2023,Vietnam,VNM,2023,0.299
189,2025-11-23,2023,World,OWID_WRL,2023,0.455
190,2025-11-23,2023,Yemen,YEM,2023,0.838
191,2025-11-23,2023,Zambia,ZMB,2023,0.524
192,2025-11-23,2023,Zimbabwe,ZWE,2023,0.519

### Shape of our dataset

In [5]:
df.shape

(193, 6)

### List out all columns

In [6]:
df.columns

Index(['Scraped_Date', 'Data_Year', 'Country', 'ISO3', 'Year',
       'Gender Inequality Index (GII) (Gender Inequality Index)'],
      dtype='object')

### Datatype of each columns

In [7]:
df.dtypes

Scraped_Date                                                object
Data_Year                                                    int64
Country                                                     object
ISO3                                                        object
Year                                                         int64
Gender Inequality Index (GII) (Gender Inequality Index)    float64
dtype: object

### Information of all Columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Scraped_Date                                             193 non-null    object
 1   Data_Year                                                193 non-null    int64
 2   Country                                                  193 non-null    object
 3   ISO3                                                     173 non-null    object
 4   Year                                                     193 non-null    int64
 5   Gender Inequality Index (GII) (Gender Inequality Index)  193 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 9.2+ KB

### Check Null Value

In [9]:
df.isnull().sum()

Scraped_Date                                                0
Data_Year                                                   0
Country                                                     0
ISO3                                                       20
Year                                                        0
Gender Inequality Index (GII) (Gender Inequality Index)     0
dtype: int64

# EDA

In [10]:
def show_fig():
    plt.tight_layout()
    plt.show()

plot_no = 1